body{
    width:99%;
    font-family: 'Raleway', sans-serif;
    color:black;
}
ul {
    list-style-type: none;
}
ul a{
    text-decoration: none;
    color: black
}
ul li{
    margin:0 10px 0 10px;
}
/*Titres de sections*/
h2{
    font-weight:bold;
}
h3{
    font-weight:bold;
}
/* Header */
#entete{
    display:flex;
    justify-content:space-between;
    width:98%;
    margin:auto;
}

    /*nav*/
#navigation{
    display:flex;
}
#menu{
    display:flex;
}
#inscription a{
    color:#0065fc;
    font-weight: bold;
}



nav ul a{
    font-weight: bold;
}

nav ul a:hover{
    color:#0065fc;
    font-weight: bolder;
    border-bottom:2px #0065fc solid;
}
    /*Recherche*/
#searchZone{
    width:98%;
    margin:auto auto 25px auto;
}
#formulaire{
    display:flex;
    width:275px;
    height:30px; 
    border-radius:15px;
}

#searchButton{
    background-color:#0065fc;;
    color:white;
    padding:5px;
    height:30px;
    border:none;
    border-radius:0 15px 15px 0;
}

#iSearch{
    background-color:#f2f2f2;
    border-radius:15px 0 0 15px;
    padding:5px;
}


/*filtres*/

#filtres{
	display:flex;
	justify-content:flex-start;
	align-items:center;
}

.filtersSelect{
	height:25px;
	min-width:80px;
	margin:5px;
	padding:0;
	border:1px #efefef solid;
	border-radius:15px;
}
.filtersSelect a{
	font-weight:bold;
	margin:5px;
	text-decoration:none;
}
.filtersSelect i{
	height:15px;
	width:15px;
	color:#0065fc;
	border-radius:100%;
	background:#deebff;
	padding:5px;
}
/*Informations*/
#informations{
    display:flex;
    width:50%;
    position:relative;
}
#informations i{
    display:inline-block;
    height:10px;
    font-size:10px;
    color:#0065FC;
    border:1px #f2f2f2 solid;
    border-radius: 100% 110% 100% 110%;
    margin-right: 15px;
    padding:5px 8px    ;
}
#informations p{
    position:absolute;
    border:1px black solid;
    top:0;
    left:15px;
}

/*Zoom*/
figure:hover{
    transform: scale(1.1);
}
/*Section hébergements*/
#hebergements{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    margin:auto;
    width:98%;
}
#detailHebergements{
    width:80%;
    margin-right:50px;
}
#listHebergements{
    display:flex;
    flex-direction:row;
    justify-content: flex-start;
    flex-wrap: wrap;
    background-color:#f2f2f2;
    border-radius:15px;
}
#detailHebergements h2{
    width:80%;
    margin-left:50px;
}
#detailHebergements h4 {
    width:70%;
    margin-left:50px;
    font-weight:bold;
}
#detailHebergements h4 a {
    text-decoration:none;
    font-weight:bold;
}
.imgHebergement{
    position:relative;
    max-width:240px;
    padding:5px;
    border-radius:15px;
    background:#fff;
}
.imgHebergement img{
    width:100%;
    max-height:150px;
    border-radius:15px 15px 0 0;
}
.imgHebergement span{
    font-weight:bold;
}
/*les plus populaires*/

#titlePopular{
    position:relative;
}
.fa-chart-line{
    position:absolute;
    top:0;
    right:0;
}

#popularHebergements{
    width:30%;
    background-color:#f2f2f2;
    border-radius:15px;
}
#popularHebergements h2{
    margin-left:45px;
}

.popularHebergement{
    display:flex;
    background:#fff;
    padding:2px;
    border-radius:15px;
}

.popularHebergement img{
    height:130px;
    width:150px;
    margin-right:30px;
    border-radius:15px 0 0 15px;
}
.popularHebergement div{
    font-weight:bold;   
}
/*stars*/
.fa-star{
    color:#0065FC;
}
  .non{
    color:#deebff;
}
/*Section Activites*/
#listeActivites{
    display:flex;
    flex-direction:column;
    justify-content:flex-end;
    position:relative;
    margin-top:10px;
    width:100%;
    height:600px;  
   
  }
  #listeActivites h2{
    position:absolute;
    margin:10px auto 10px 20px;
    top:0;
  
  }
  #activites{
      display:flex;
      justify-content:space-between;
      flex-wrap:nowrap;
      width:100%;
      margin:auto;
      height:500px;
      box-sizing:border-box;

  }
  .carte{
    height:90%;
    background-size:cover;
    background-repeat: no-repeat;
    border-radius:15px 15px 0 0; 
  }
  .carteColonne{
    height:45%;
    border-radius:15px;
    box-shadow: 2px 2px 15px #f2f2f2;
  }
  .carteColonneImg{
    height:80%;
    background-size:cover;
    background-repeat: no-repeat;
    border-radius:15px 15px 0 0;
  }
  .siteNomColonne{
    height:20%;
    background:#fff;  
    border:1px #f2f2f2 solid;
    border-radius:0 0 15px 15px;
  }
  .site{
    display:block;
    text-decoration:none;
    color:#000;
    font-weight:bold;
    margin:10px auto auto 10px;
  }  
  .siteNom{
    height:10%;
    background:#fff;
    border:1px #f2f2f2 solid;
    /*box-shadow:1px 1px 1px #efefef;*/
    border-radius:0 0 15px 15px;
  }
  
  #activitesPart1{
    display:flex;
    flex-direction:row;
    flex-wrap:nowrap;
    align-content: space-between;
    width:50%;
    height:100%;
  }
  .carteVerticale1{
    width:50%;
    margin: 0 15px 0 15px;
    padding:2px;
    height:100%;
    border-radius:15px;
    box-shadow: 2px 2px  #f2f2f2;
  }

  .carteVerticale2{
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    margin: 0 15px 0 15px;
    width:50%; 
    height:100%;
  
  }
  
  #carte1{
    background-image: url("../images/activites/3_medium/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg");
  }
  #carte2{
    background-image: url("../images/activites/4_small/paul-hermann-QFTrLdQIRhI-resize.jpg");
  }
  #carte3{
    background-image: url("../images/activites/4_small/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg");
  }
  
  
  #activitesPart2{
    display:flex;
    width:50%;
  }
  #carte4{
    background-image: url("../images/activites/4_small/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg");
  }
  #carte5{
    background-image: url("../images/activites/4_small/florian-wehde-xW9e8gdotxI-unsplash.jpg");
  }
  #carte6{
    background-image: url("../images/activites/4_small/lena-paulin-wH2-EJoDcV0-unsplash.jpg");
  }

/*footer*/
footer{
    display:flex;
    justify-content: space-between;  
    background-color:#f2f2f2;
    width:100%;
}
.footerElement h3{
    margin-left:0.5em;
    padding:0;
}
.footerElement ul{
    margin-left:0;
    padding:0;
}





/********     Responsive      *************/

@media screen and (max-width:800px){
/*en-tete*/
header{
    height:80px;
}
#entete{
    position:relative;
    height:200px;
}
#logo{
    position:absolute;
    top:0;
    left:0;
}

#inscription{
    position:absolute;
    top:0;
    right:0;
    text-align:right;
    width:150px;
}
#menu{
    position:absolute;
    left:0;
    top:50px;
    text-align:center;
    margin:auto;
    width:100%;
}
#menu li{
    margin:auto;
    border-bottom:2px solid red;
}
#menu li:hover{
    border-bottom:2px solid blue;
}	

/*Recherche et filtres*/
        /*filtres*/
#filtres{
    display:flex;
    flex-direction:column;
    align-items:flex-start;   
}

/*Section Hébergements*/

#hebergements{
    display:flex;
    flex-direction:column-reverse;
    width:100%;
}
#detailHebergements{
    display:flex;
    flex-direction:column;
    width:100%;
}
#listHebergements{
    display:flex;
    justify-content:center;
    background:#fff;
}
.imgHebergement{
    margin:auto;
}
/*les populaires*/
#popularHebergements{
    display:flex;
    flex-direction:column;
    align-items:center;
    border-radius:0;
    min-width:200px;
    width:100%;
}
#titlePopular{
    display:inline-flex;
    flex-direction:column;
    justify-content: space-between;
    align-content:flex-start;
    width:95%;
}

.fa-chart-line{
    margin: 25px 15px auto 0;
}
.popularHebergement div{
    width:180px;
}
/*Section activités*/
#activites{
    display:flex;
    flex-direction:column;
    height:100%;
}
.listActivite{
    max-height:200px;
}

/*footer*/
#footer{
    display:flex;
    flex-direction:column;
}

/*Fin @media*/
}
